{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wipe Waste Web</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"  rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%  static 'main.css' %}" media="screen" />
    <script type="text/javascript" src="{% static 'lib/qr-scanner/qr-scanner.umd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scanner.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
{% if not success %}
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-8">
            <video id="qr-video" style="width: 100%; height: 100%; display: none"></video>
            <form id="form" class="m-4" method="post">
                <div id="error" class="alert alert-danger" style="display: none" role="alert">Not the right container</div>
                {% if error is not None %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
                {% csrf_token %}
                <input type="hidden" name="qr_code"/>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Id card number</label>
                    <input type="text" class="form-control" name="id_card" onkeyup="input_change(this)">
                </div>
                <div id="scanner-nfc">
                    <label for="exampleInputEmail1" class="form-label">Card NFC <i class="bi bi-credit-card-2-front-fill"></i></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="serial_number" disabled aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Scan card</button>
                    </div>
                </div>
                <button disabled id="button_open" type="button" class="btn btn-primary col-12">Scan container <i class="bi bi-qr-code-scan"></i></button>
            </form>
        </div>
    </div>
    <script>
        function input_change(div) {
            if (div.value !== '' || $('input[name="serial_number"]').val() !== '') {
                $('#button_open').prop( "disabled", false);
            } else {
                $('#button_open').prop( "disabled", true);
            }
        }
        $(document).ready(()=> {
            if (!('NDEFReader' in window)) {
                $('#scanner-nfc').hide()
            } else {
                let input = $('input[name="serial_number"]')
                $('#button-addon2').click(async () => {
                    try {
                        const ndef = new NDEFReader();
                        await ndef.scan();

                        ndef.addEventListener("readingerror", () => {
                            console.log("Argh! Cannot read data from the NFC tag. Try another one?");
                        });

                        ndef.addEventListener("reading", ({ _, serialNumber }) => {
                            input.val(serialNumber.toString())
                            input_change(input[0])
                        });
                    } catch (error) {
                    }
                })
            }

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            let scanner = new Scanner('qr-video', (content) => {
                if (content.data) {
                    let result = JSON.parse(content.data);
                    if (result.type === urlParams.get('tag')) {
                        scanner.stop()
                        $('input[name="qr_code"]').val(content.data)
                        $('#form').submit()
                    } else {
                        $('#error').show()
                        scanner.stop()
                        scanner.hide()
                    }
                }
            }, {
                popup: true,
                popup_title: 'QR scanner',
            })
            $('#button_open').click(() => {
                scanner.show()
            })
        })
    </script>
{% else %}
    <div class="alert alert-success m-4" role="alert">
      Thanks for recycling! <br> Keep going, your work will save the environment :D
    </div>
{% endif %}

</body>
</html>
